[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dabr"]
	path = dabr
	url = https://github.com/special-uor/dabr
[submodule "fxTWAPLS"]
	path = fxTWAPLS
	url = https://github.com/special-uor/fxtwapls
